#anchorPane{
    -fx-background-color: gray;
}
.opPanes{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-background-radius: 10;
}
.opBotones {
    -fx-background-radius: 5;
    -fx-background-color: rgba(56, 103, 214, 1);
    -fx-text-fill: white;
    -fx-transition: background-color 0.5s ease-in-out, text-fill 0.5s ease-in-out;
}

.opBotones:hover {
    -fx-border-radius: .6;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-background-color: #F8E472;
}
