#anchorPane{
    -fx-background-color: gray;
}
.opPanes{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-background-radius: 10;
}
.opBotones {
    -fx-background-radius: 5;
    -fx-background-color: rgba(56, 103, 214);
    -fx-text-fill: white;
}
